.button {
  border: none;
  background: none;
  color: $off-white;
  display: flex;
  font: 300 $l-size/1;
  text-align: center;
  text-decoration: none;
  @media (max-width: $desktop-breakpoint) {
    display: inline-block;
    margin-top: $s-size;
  }
}

.button--action {
  &:hover {
    color: $light-blue
  }
}

.button--secondary {
  &:hover {
    color:  rgb(206, 44, 44);
  }
}
