.form {
  display: flex;
  flex-direction: column;
}

.form__pairs{
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  text-align: center;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    margin-bottom: $m-size;
    text-align: left;
  }
}

.form__pairs .text-input{
  margin: 0  $s-size $m-size 0;
  @media (min-width: $desktop-breakpoint) {
    margin: 0  $s-size $m-size 0;
  }
}

.form__pairs .rdatez .text-input{
  margin-right: 0;
}

.form__error {
  font-style: italic;
  margin: 0 0 $m-size 0;
}

