.header {
  background: $off-black;
  color: $off-white;
  margin-bottom: $m-size;
  padding: $m-size 0;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $xl-size;
  }
}

.header-container {
  @extend .header;
  background: none;
}

.header__title {
  font-size: $l-size;
  margin: 0;
  text-align: center;
  text-decoration: none;
  @media (min-width: $desktop-breakpoint) {
    text-align: left;
  }
}

.header__elements {
  color: $off-white;
  font: 500 $m-size;
  margin: 0;
}

.header__actions {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: $m-size;
  padding: $s-size 0;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
  }
}
