// Tachyons: bg-near-black near-white mb3 pv3 mb5-m
.header {
  background: $off-black;
  color: $off-white;
  margin-bottom: $m-size;
  padding: $m-size 0;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $xl-size;
  }
}

// Tachyons: bg-transparent
.header-container {
  @extend .header;
  background: none;
}

// Tachyons: f2 m0 tc no-underline tl-m
.header__title {
  font-size: $l-size;
  margin: 0;
  text-align: center;
  text-decoration: none;
  @media (min-width: $desktop-breakpoint) {
    text-align: left;
  }
}

// Tachyons: near-white fw5 f3 m0
.header__elements {
  color: $off-white;
  font: 500 $m-size;
  margin: 0;
}

// Tachyons: items-center flex flex-column justify-between mt3 pv2 flex-row-m 
.header__actions {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: $m-size;
  padding: $s-size 0;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
  }
}
