// Tachyons: flex flex-column mb3 flex-row-m mb4-m
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: $m-size;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    margin-bottom: $l-size;
  }
}

// Tachyons: tc tl-m
.input-group--filters{
  @extend .input-group;
  text-align: center;
  @media (min-width: $desktop-breakpoint) {
    text-align: left;
  }
}

// Tachyons: mb2 mb0-m mr2-m
.input-group__item {
  margin-bottom: $s-size;
  @media (min-width: $desktop-breakpoint) {
    margin: 0 $s-size 0 0;
  }
}
