.text-input {
  border: 1px solid #cacccd;
  background: $off-white;
  color: $off-black;
  font: 300 $m-size;
  height: 30px;
  padding: $s-size;
}

.rdatez > input {
  @extend .text-input;
  cursor: pointer;
}

.select {
  @extend .text-input;
  margin-left: $s-size;
}
