// Tachyons: near-white tc tl-m
.list-header {
  color: $off-white;
  text-align: center;
  @media (min-width: $desktop-breakpoint) {
    text-align: left;
  }
}

// Tachyons: near-black flex flex-column pa2 no-underline bg-near-white:hover items-center-m flex-row-m justify-between-m pa3-m
.list-item {
  color: $off-black;
  display: flex;
  flex-direction: column;
  padding: $s-size;
  text-decoration: none;
  &:hover {
    background: $off-white;
  }
  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: $m-size;
  }
}

// Tachyons: items-center near-black justify-center pa2 bg-trasparent:hover
.list-item--message {
  align-items: center;
  color: $off-black;
  justify-content: center;
  padding: $s-size;
  &:hover {
    background: none;
  }
}

// Tachyons: b no-underline near-white:hover
.list-item--create {
  @extend .list-item--message;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: $off-white;
  }
}

