body {
  background: $blue;
  font: $m-size Helvetica, Arial, sans-serif;
  margin-bottom: 10rem;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold !important;
}

// Tachyons: center mw8 ph2
.container {
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 $m-size;
}
