html {
  font-size: 62.5%;
}

body {
  background: $blue;
  font: $m-size Helvetica, Arial, sans-serif;
  margin-bottom: 10rem;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold !important;
}
